<div class="stop-page">
  <a href="/alarms" class="stop"></a>
</div>


<!-- 再生プレイヤー -->
<%= audio_tag 'loop1.mp3', autoplay: true, loop: true %>

<!-- audiojsの初期化 -->
<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>