*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  width: 90%;
  height: 10%;
  display: flex;
}

.plan-head, .plan-theme{
  font-size: 30px;
}

.month{
  margin-left: 10px;
}

.back{
  margin-left: 50px;
  padding-top: 15px;
}

.calendar{
  width: 90%;
  height: 80%;
  overflow: scroll;
  border: 3px black solid;
  background-color: white;
}

.calendar-days{
  display: flex;
  padding: 8px 10px 0 10px;
  height: 40px;
  border: 1px black solid;
}

.num{
  margin-right: 10px;
  height: 100%;
}

.wday{
  text-decoration: none;
  color: blue;
}

.day{
  margin-right: 20px;
  height: 100%;
}

.goal{
  display: inline;
}

.will{
  margin-right: 10px;
}

.real{
  margin-left: 20px;
}

.warning-text{
  color: red;
}