<h2 class="game">ゲームをしよう</h2>
<%= link_to "戻る", root_path, class:"back-root" %>

<div class="games">
  <div class="game-name">
    <div class="game-name"><%= link_to "古今東西ゲーム", "/game/show/1", class:"game-link" %></div>
  </div>
  <div class="game-info">
    <p class="game-info-text">知識と記憶力のゲーム。<br>
    飲み会の鉄板ゲームの一つ</p>
  </div>
  <div class="game-name">
    <div class="game-name"><%= link_to "条件付きしりとり", "/game/show/2", class:"game-link" %></div>
  </div>
  <div class="game-info">
    <p class="game-info-text">語彙力と発想力のゲーム<br>
    一風変わったしりとりを楽しもう</p>
  </div>
  <div class="game-name">
    <div class="game-name"><%= link_to "イエスノーゲーム", "/game//show/3", class:"game-link" %></div>
  </div>
  <div class="game-info">
    <p class="game-info-text">想像力と推理力のゲーム<br>
    わかったときのスッキリ感を味わおう</p>
  </div>
</div>