<div class="game-page">
  <div class="game-head">
    <div class="game-title"><h3 class="game">罰ゲームの時間です</h3></div>
    <div class="game-back"><%= link_to "ゲーム一覧に戻る", "/games", class:"back-root" %></div>
  </div>

  <div class="punish-game">
    <div class="punish-title"><span class="punish">罰ゲーム</span></div>
    <div class="punish-name"><h3 class="punish-text"><%= @punishment.punish_game %></h3></div>
  </div>

  <div class="punish-point">
    <span class="punish-comment"><%= @punishment.example %></span>
  </div>
</div>